#road{
    height: 500px;
    width: 800px;
    background: url(canyon.png) center no-repeat;
}

.roadrunner{
    height: 102px;
    width: 107px;
    background: url(roadrunner.gif) center no-repeat;
    position: absolute;
    top: 204px;
    background-size: cover;
}

.isrunning{
    height: 68px;
    width: 211px;
    background: url(roadrunning.gif) center no-repeat;
    position: absolute;
    top: 232px;
    left: -47px;
    background-size: cover;
}